body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    background: linear-gradient(to bottom right, #fff0f0, #ffe5e5);
}

header {
    text-align: center;
    background-color: #c0392b;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    margin: 40px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form input, button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #c0392b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #a93226;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

#bloodGroup{
    width: 1140px;
    height: 34px;
    border-radius: 5px;
}